<!-- Call for Papers -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].cfp.section | default: "cfp" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-justify">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].cfp.title | default: "Call for papers" }}</h2>
        {% if site.data.sitetext[site.locale].cfp.text != nil %} 
        <div class="body text-muted">{{ site.data.sitetext[site.locale].cfp.text | markdownify }}</div>
        <hr> 
        {% endif %}
        <h3 class="section-subheading text-muted">Submission Instructions</h3>
        <div class="body text-muted">{{ site.data.sitetext[site.locale].cfp.submission_instructions | markdownify }}</div>
        {%- if site.data.sitetext[site.locale].cfp.submission_link != "" -%}
        <div class="text-center">
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
          href="{{ site.data.sitetext[site.locale].cfp.submission_link }}" 
          target="_blank">Submit Now</a>
        </div>
	    {%- endif -%}
	    
	    <hr>
        <h3 class="section-subheading text-muted">Publication</h3>
        <div class="body text-muted">{{ site.data.sitetext[site.locale].cfp.publication_text | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.cfp.section | default: "cfp" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-justify">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.cfp.title | default: "Call for papers" }}</h2>
        {% if site.data.sitetext[site.locale].cfp.text != nil %} 
        <div class="body text-muted">{{ site.data.sitetext.cfp.text | markdownify }}</div>
        <hr> 
        {% endif %}
        <h3 class="section-subheading text-muted">Submission Instructions</h3>
        <div class="body text-muted">{{ site.data.sitetext.cfp.submission_instructions | markdownify }}</div>
        {%- if site.data.sitetext[site.locale].cfp.submission_link != "" -%}
        <div class="text-center">
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" 
          href="{{ site.data.sitetext[site.locale].cfp.submission_link }}" 
          target="_blank">Submit Now</a>
        </div>
	    {%- endif -%}
	    
	    <hr>
        <h3 class="section-subheading text-muted">Publication</h3>
        <div class="body text-muted">{{ site.data.sitetext.cfp.publication_text | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Call for Papers -->
